#USE FOR DarkChess INITIAL SETTING
#Thu Dec 29 09:07:06 CST 2022
Password=123
RoomType=GENERAL
InitFirst=RANDOM
IP=120.126.151.213
SearchPath=D\:\\DW\\2022 fall\\TCG\\final\\Download\\EWN_sample_code\\main_d_1_n_15_k1_existcnt_k2_1_k3_1.exe
TimeLimit=240
TimerMode=ABSOLUTE
RandomText=
RandomMode=System
BoardMode=SYSTEM
BoardSize=5
BoardPath=
StartMode=OPEN
InitColor=RANDOM
PiecesNum=6
ColorChangeMode=FAIR
Players=2
Account=d5
PlyShare=0
FirstChangeMode=CYCLE
ConnectMode=AI
OnePlyTime=0
MidBoard=NO
LocalServer=true
RepeatTime=100
