#USE FOR ROOM INITIAL SETTING
#Thu Dec 29 09:07:06 CST 2022
TimeCountDown=YES
FinishGameCloseHTML=YES
BoardDisconnectAutoRestart=NO
CommandLogOutput=YES
SplitWeight=0.65
PopWindowLocaleY=250
PopWindowLocaleX=239
DebugBGColor=-16777216
DebugFontSize=16
RepeatGameDelay=5
BoardFileOutput=YES
CleanLastDebug=NO
BoardOpenType=BROWSER
PopWindowWidth=1174
DebugFontColor=-1
ScrollAuto=AUTO
PopWindowHeight=673
RoomStatisticOutput=YES
ContestAutoReady=NO
